<div id="container" class="row">

    <div class="content">
        <!-- Título de la página -->
        <h1><b>Lista de empleados</b></h1>

        <!-- Botón para añadir un nuevo empleado -->
        <div class="mb-3">
            <!-- Contenedor para el botón fijo -->
            <div class="fixed-button">
                <button (click)="navigateToAddEmployee()" class="btn btn-primary"><i class="bi bi-plus-circle"></i></button>
            </div>
        </div>

        <!-- Contenedor de la tabla -->
        <div class="table-container">
            <table class="table table-hover text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Foto</th>
                        <th>Fecha Ingreso</th>
                        <th>Cargo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @for (employee of employees(); track employee.id) {

                    <tr>
                        <td>{{employee.id}}</td>
                        <td>{{employee.cedula}}</td>
                        <td>{{employee.nombre}}</td>
                        <td>

                            @if(employee.foto==""){
                                <img src="https://via.placeholder.com/50">
                            }@else{
                                <img [src]="employee.foto" alt="Foto de Juan Pérez">
                            }
                        </td>
                        <td>{{employee.fechaIngreso}}</td>
                        <td>{{employee.idCargo}}</td>
                        <td>
                            <!-- Botones de Acción -->
                            <button class="btn btn-warning btn-sm me-2" (click)="goToUpdateEmployee(employee.id)"><i class="bi bi-pencil"></i></button>
                            <button class="btn btn-danger btn-sm" (click)="deleteEmployee(employee.id)"><i class="bi bi-trash3"></i></button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>