<div class="container mt-5">
    <!-- Botón de regreso fijo en la esquina superior izquierda -->
    <div class="fixed-back-button">
        <button class="btn btn-secondary" (click)="goBack()">
            <i class="bi bi-arrow-left"></i> Regresar
        </button>
    </div>

    <!-- Título del formulario -->
    <h1 class="mb-4 text-center">Editar Empleado</h1>

    <!-- Formulario de Angular -->
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="shadow p-4 bg-white rounded">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="id" class="form-label">Id</label>
                <input readonly id="id"  formControlName="id" class="form-control disabled" type="number" required >
            </div>
            <div class="col-md-6 mb-3">
                <label for="cedula" class="form-label">Cédula</label>
                <input readonly id="cedula"  formControlName="cedula" class="form-control disabled" type="number"  required >
            </div>
            <div class="col-md-6 mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input id="nombre"  [class.invalid]="employeeForm.get('nombre')!.invalid && employeeForm.get('nombre')!.touched"  formControlName="nombre" class="form-control" type="text" placeholder="Ingrese el nombre" required>
                @if (employeeForm.get('nombre')!.invalid && employeeForm.get('nombre')!.touched) {
                    <div class="error-message">nombre es requerido</div>
                }
            </div>
            <div class="col-md-6 mb-3">
                <label for="idCargo" class="form-label">Cargo</label>
                <select id="idCargo" [class.invalid]="employeeForm.get('idCargo')!.invalid && employeeForm.get('idCargo')!.touched" formControlName="idCargo" class="form-select" required>
                    <option value="" disabled selected>Seleccione un cargo</option>
                    @for (cargo of cargos(); track cargo.idCargo) {
                        <option [value]="cargo.idCargo">{{ cargo.nombre }}</option>
                    }
                </select>
                @if (employeeForm.get('idCargo')!.invalid && employeeForm.get('idCargo')!.touched) {
                    <div class="error-message">Cargo es requerido</div>
                }
            </div>

            <div class="col-md-6 mb-3">
                <label for="fechaIngreso" class="form-label">Fecha Ingreso</label>
                <input readonly id="fechaIngreso"  formControlName="fechaIngreso" class="form-control disabled" type="text"  required >
            </div>

            <div class="col-md-6 mb-3">
                
                <label for="foto" class="form-label">Foto</label>
                <input id="foto" type="file" (change)="onFileChange($event)" class="form-control" accept="image/*">
                @if(imagePreview){
                    <div class="mt-3 imageContainer">
                        <img [src]="imagePreview" alt="Vista previa de la imagen" class="img-fluid rounded">
                    </div>
                }     
            </div>
        </div>
        <div class="text-center">
            <button  [disabled]="!employeeForm.valid" class="btn btn-primary" type="submit">Guardar</button>
        </div>
    </form>
</div>
